.background-gradient{
    background-image: linear-gradient(90deg,blue,rgb(216,15,235));
}
.primary-color{
    color: rgba(0, 0, 255, 0.5);
}
.writing{
    background-image: url(img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.extra{
    width: 60%;
    height: 300px;
}
.get{
    /* height: 180px; */
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
footer{
    text-align: center;
    background-color: black;
    padding: 40px;
    color: aliceblue;
}
